/PassportMeetReservator/.vs
/PassportMeetReservator/packages

/PassportMeetReservator/PassportMeetReservator/bin
/PassportMeetReservator/PassportMeetReservator/obj

/PassportMeetReservator/PassportMeetBlocker/bin
/PassportMeetReservator/PassportMeetBlocker/obj

/PassportMeetReservator/Common/bin
/PassportMeetReservator/Common/obj

/Server/.vs
/Server/packages

/Server/Server/bin
/Server/Server/obj

